{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-4">
            <h1>Welcome to RIBY</h1>
        </div>
        <div class="col-sm-8">
            <ul>
                <li><h3>diversify portfolio and investment</h3></li>
                <li><h3>Loans made easy</h3>
                    <ul>
                        <li>no hidden fees</li>
                        <li>fixed term</li>
                        <li>low rates</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <p>
<h1>About Us</h1>

Riby was born out of the need to empower the upwardly mobile African generation with technology / tools to take charge of their financial destiny whether through the salary or income they earn or the financial group they belong to. We see an opportunity to help groups, companies, employees and even kids better manage their finance, plan, save, invest proactively and collaborate through our platforms.

<h2><strong>Riby Group Finance Platform</strong></h2>

The Riby-Group Finance Platform helps manage financial records, loan administration, messaging and transactions for open and closed groups of individuals or organizations (Cooperatives).

<h2><strong>Riby Peer Lending Platform</strong></h2>

Our Peer Lending Platform connects good-quality borrows to potential lenders in their immediate and extended networks. Lending on this platform helps reduce the cost of loan processing, while increassing borrower access to finance.

    </p>
</div>
{% endblock content %}

